
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Surveys by Comercia Marketing.">
    <meta name="author" content="Francisco Velasquez">
    <title>Comercia Marketing</title>
    <!-- Favicons-->
    <link rel="shortcut icon" href="~/Content/images/icon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="~/Content/surveysContent/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/Content/surveysContent/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/Content/surveysContent/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/Content/surveysContent/img/apple-touch-icon-144x144-precomposed.png">
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">
    <!-- BASE CSS -->
    <link href="~/Content/surveysContent/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/surveysContent/css/menu.css" rel="stylesheet">
    <link href="~/Content/surveysContent/css/style.css" rel="stylesheet">
    <link href="~/Content/surveysContent/css/vendors.css" rel="stylesheet">
    <!-- YOUR CUSTOM CSS -->
    <link href="~/Content/surveysContent/css/custom.css" rel="stylesheet">

    <!-- MODERNIZR MENU -->
    <script src="~/Content/surveysContent/js/modernizr.js"></script>

</head>
<body>

    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div><!-- /Preload -->

    <div id="loader_form">
        <div data-loader="circle-side-2"></div>
    </div><!-- /loader_form -->

    <nav>
        <ul class="cd-primary-nav">
            <li><a href="@Url.Action("Home","Home")" class="animated_link">About Us</a></li>

        </ul>
    </nav>
    <!-- /menu -->

    <div class="container-fluid full-height">
        <div class="row row-height">
            <a href="@Url.Action("Home","Home")" id="logo"><img src="~/Content/images/LogoPNG-1.png" alt="" width="199" height="65"></a>
            <div id="success">

                <div class="icon icon--order-success svg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="72px" height="72px">
                        <g fill="none" stroke="#8EC343" stroke-width="2">
                            <circle cx="36" cy="36" r="35" style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;"></circle>
                            <path d="M17.417,37.778l9.93,9.909l25.444-25.393" style="stroke-dasharray:50px, 50px; stroke-dashoffset: 0px;"></path>
                        </g>
                    </svg>
                </div>
                <h4><span></span>Thank you for your time</h4><br />
                <h4><span>Don't forget to visit our website and follow us.</span></h4>
                <a href="http://millcreekbrewingco.com/" target="_blank"><img src="~/Content/surveysContent/img/milkbeerco.jpg" alt="" width="259" height="95" class="img-fluid" style="margin-left:10px;"></a>
                <div class="row" style="margin-left:60px">
                    <a href="https://www.facebook.com/MillCreekBrewingCo/" target="_blank" style="font-size:45px;color:#232c55"><i class="icon-facebook"></i></a>
                    <a href="https://twitter.com/millcreekbrewco" target="_blank" style="font-size:45px;color:#232c55"><i class="icon-twitter"></i></a>
                    <a href="https://www.instagram.com/millcreekbrewco/" target="_blank" style="font-size:45px;color:#232c55"><i class="icon-instagram"></i></a>
                </div>

            </div>

        </div>
        <!-- /row-->
    </div>
    <!-- /container-fluid -->
    <div class="cd-overlay-nav">
        <span></span>
    </div>
    <!-- /cd-overlay-nav -->
    <div class="cd-overlay-content">
        <span></span>
    </div>
    <!-- /cd-overlay-content -->
    <a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
    <!-- /menu button -->

    <!-- COMMON SCRIPTS -->
    <script src="~/Content/surveysContent/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/surveysContent/js/common_scripts.min.js"></script>
    <script src="~/Content/surveysContent/js/velocity.min.js"></script>
    <script src="~/Content/surveysContent/js/functions.js"></script>
    <!-- Wizard script -->
    <script src="~/Content/surveysContent/js/survey_func.js"></script>

</body>
</html>