
@{
    ViewBag.Title = "Comercia Marketing - Analytics";
}
<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="container">
               
                                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="card">
                            <div class="col-md-12">
                                <ul class="nav nav-tabs tab-simple-styled" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="tab-3-1" data-toggle="tab" href="#home-3-1" role="tab" aria-controls="home-3-1" aria-selected="true"><i class="mdi mdi-truck"></i>Merchandising</a>
                                    </li>
                                    <!--
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-3-2" data-toggle="tab" href="#profile-3-2" role="tab" aria-controls="profile-3-2" aria-selected="false"><i class="mdi mdi-calendar"></i>Calendar</a>
                                    </li>-->
            
                                        <li class="nav-item">
                                            <a class="nav-link" id="tab-3-3" data-toggle="tab" href="#contact-3-3" role="tab" aria-controls="contact-3-3" aria-selected="false"><i class="mdi mdi-border-outside"></i>Demos</a>
                                        </li>
                                    
                                </ul>
                                <div class="tab-content tab-content-basic">
                                    <div class="tab-pane fade show active" id="home-3-1" role="tabpanel" aria-labelledby="tab-3-1">
                                        <div class="row">
                                            <div class="col-md-12 grid-margin">
                                                <div class="card">

                                                    <div class="card-body">
                                                        @foreach (var resource in ViewBag.recursos)
    {
        if (resource.ID_tiporecurso == 1)
        {

                                                    <div id="iframePowerBI" style="height:750px; position:relative">
                                                        <iframe style="border:none; width:100%; height:700px; z-index:1" src="@resource.url" frameborder="0" allowfullscreen="false"></iframe>
                                                        <!--<img style="top:0px; right:0px; position:absolute;width:100%; height:670px; z-index:9; opacity:0" src="~/Content/images/MechandiserWeb.jpg">-->

                                                        <img style="top:663px; left:0px; position:absolute; z-index:9" src="~/Content/images/iframefooter.png" width="200" height="37">
                                                        <img style="top:663px; right:0px; position:absolute; z-index:9" src="~/Content/images/iframefooter.png" width="200" height="37">
                                                    </div>
}
}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                             <div class="tab-pane fade" id="contact-3-3" role="tabpanel" aria-labelledby="tab-3-3">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            @foreach (var resource in ViewBag.recursos)
    {
        if (resource.ID_tiporecurso != 1)
        {

                                                        <div id="iframePowerBI" style="height:750px; position:relative">
                                                            <iframe style="border:none; width:100%; height:700px; z-index:1" src="@resource.url" frameborder="0" allowfullscreen="false"></iframe>
                                                            <!--<img style="top:0px; right:0px; position:absolute;width:100%; height:670px; z-index:9; opacity:0" src="~/Content/images/MechandiserWeb.jpg">-->

                                                            <img style="top:663px; left:0px; position:absolute; z-index:9" src="~/Content/images/iframefooter.png" width="200" height="37">
                                                            <img style="top:663px; right:0px; position:absolute; z-index:9" src="~/Content/images/iframefooter.png" width="200" height="37">
                                                        </div>
}
}
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                </div>
                            </div>


                        </div>
                    </div>
                </div>


                @Html.Partial("~/Views/Shared/Footer2.cshtml")
            </div>

        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <!-- partial -->
</div>
<!-- main-panel ends -->
