@{
    ViewData["Title"] = "Dashboard";
}

<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>EDT</a></li>

                </ul>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">


            <iframe id="iframePowerBI" width="1100" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiMTNkOTY1Y2YtNDRiMS00MTc0LTk0YjMtYzgxOWEzYzkwZGUxIiwidCI6IjYxNGUyM2ZjLTRiZmQtNGEwZS05OGFkLTk5MzM4N2RhNDZhZCIsImMiOjN9" frameborder="0" allowfullscreen="false" ></iframe>
            
        </div>

    </div>

</div>