@{
    ViewBag.Title = "Comercia Marketing - Gallery";
}

<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="@Url.Action("Main", "Home")">Home</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Gallery</a></li>

                </ul>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col" style="overflow-x:auto;">
            @using (Html.BeginForm("Galleryfilter", "Home", FormMethod.Post))
    {

        <p>Select a Vendor:</p>
        @Html.DropDownList("ID_vendor", null, htmlAttributes: new { @class = "form-control", onChange = "getDemosGallery()" })
        <p>Select a demo:</p>
        <select id="ID_demos" class="form-control" name="ID_demos"></select>
                <br />
        <input type="submit" class="form-control" value="Search" />
}
            <br />




            <div class="clearfix"></div>

        </div>
    </div>
</div>


