
@{
    ViewBag.Title = "Comercia Marketing";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comercia Marketing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--
    =========================
    ICONS
    ========================= -->
    <!--IONICONS-->
    <link href="https://cdn.jsdelivr.net/npm/ionicons@4.5.8/dist/css/ionicons.min.css" rel="stylesheet">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="~/Content/landingpage/css/fontawesome-all.min.css">
    <!--
    =========================
    THIRD PARTY PLUGINS
    ========================= -->
    <!-- MANIFIC POPUPS-->
    <link rel="stylesheet" href="~/Content/landingpage/css/magnific-popup.css">
    <!-- OWL CAROUSEL-->
    <link rel="stylesheet" href="~/Content/landingpage/css/owl.carousel.min.css">
    <!--SWIPER CAROUSEL-->
    <link rel="stylesheet" href="~/Content/landingpage/css/swiper.min.css">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="~/Content/landingpage/css/bootstrap.min.css">

    <!--
    =========================
    MAIN STYLES
    ========================= -->
    <!-- MAIN STYLES-->
    <link rel="stylesheet" href="~/Content/landingpage/css/styles.css">
    <!-- RESPONSIVE -->
    <link rel="stylesheet" href="~/Content/landingpage/css/responsive.css">
    <!--
    =========================
    FAVICONS
    ========================= -->
    <link rel="shortcut icon" href="/favicon.ico"><!-- 16x16 size favicon -->
    <!-- Hotjar Tracking Code for Fourtyfive.co -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 970565, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
</head>
<body class="x-hidden has-sticky-header">

    <!--
    =========================
    PRELOADER
    ========================= -->
    <div id="loading">
        <div class="ripple ripple1"></div>
        <div class="ripple ripple2"></div>
        <div class="ripple ripple3"></div>
        <div class="ripple ripple4"></div>
    </div>
    <!--END PRELOADER-->
    <nav class="navbar navbar-expand-lg fixed-top custom-menu custom-menu__light">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="~/Content/landingpage/images/demo/landing/LogoPNG-1.png" style="width:110;height: 50px;" alt="Image" class="logo-md">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="menu-icon__circle">
                </span>
                <span class="menu-icon">
                    <span class="menu-icon__bar"></span>
                    <span class="menu-icon__bar"></span>
                    <span class="menu-icon__bar"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#overview">
                            Overview
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#clients">clients</a>
                    </li>

                </ul>
                <div class="custom-menu__right">
                    <a href="@Url.Action("Index","Home")" class="btn btn-primary btn-pills">Login</a>
                    <p class="assistive-text d-md-none">Click on "Login" button to enter in our web application </p>
                </div>
            </div>
        </div>
    </nav>
    <!--
    =========================
    HERO SECTION
    ========================= -->
    <header id="hero" class="hero">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-sm-6">
                    <div class="hero-content">
                        <div class="hero-title__group">
                            <div class="hero-title">
                                <h2>We evaluate and potentialize latin products in the US market.</h2>
                            </div>
                            <div class="Hero--Subtitle">
                                <p class="lead">We want to make a difference in the way your brands reach their customer.</p>
                            </div>
                        </div>
                        <div class="hero-cta-group">
                            <form action="" class="hero-form cta__large">
                                <div class="input-group">
                                    <label for="intro-email" class="sr-only">Email</label>
                                    <input type="email" class="form-control" id="intro-email" placeholder="Enter your email">
                                    <button type="submit" class="btn btn-secondary">Contact Us</button>
                                </div>
                                <!--<span class="assistive-text">14-day FREE trial - no credit card needed</span>-->
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-5 ml-auto">
                    <div class="hero-figure">
                        <img src="~/Content/landingpage/images/demo/hero-1-2.png" class="img-fluid w-100" alt="">
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!--
        =========================
        APP SCREENS SLIDER
        ========================= -->
    <section id="overview" class="section-spacer">
        <div class="container">
            <div class="section-screens__inner">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <header class="section-header pt-100 text-center">
                            <h2 class="section-title">Who we are</h2>
                            <p class="lead">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus aut reiciendis
                                praesentium.
                            </p>

                        </header>
                    </div>
                </div>

                <div class="swiper-container screen-slider">
                    <div class="screen-slider-wrapper swiper-wrapper ">
                        <div class="screen-slider__item swiper-slide">
                            <img src="~/Content/landingpage/images/demo/landing/FB%2520ESTUDIOS%2520DE%2520MERCADO.png.jpg" alt="Image">
                        </div>
                        <div class="screen-slider__item swiper-slide">
                            <img src="~/Content/landingpage/images/demo/landing/FB%2520Campa%C3%B1a.png.jpg" alt="Image">
                        </div>
                    </div>
                    <!-- If we need navigation buttons or just delete them-->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>



        </div>
    </section>
    <!--
    =========================
    FEATURES OVERVIEW
    ========================= -->
    <section id="hiw" class="section-spacer bg-very__gray">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="feature-list-image">
                        <img src="~/Content/landingpage/images/demo/featured-images/feature-image-4.png" class="img-fluid" alt="Image">
                    </div>
                </div>
                <div class="col-sm-5 ml-auto">
                    <div class="feature-list-wrapper">
                        <div class="content-header">
                            <h2 class="content-title">COMPETENT PROFESSIONAL STAFF</h2>
                            <p>
                                We have taken on new projects, expanded our professional staff, and have made plans to enhance our ongoing programs.
                            </p>
                        </div>
                        <ul class="list list-unstyled list-circle">
                            <li>
                                <span>Competent professional staff</span>
                            </li>
                            <li>
                                <span></span>
                            </li>
                            <li>
                                <span>Data collected in our cloud storage</span>
                            </li>
                            <li>
                                <span>Reports</span>
                            </li>
                        </ul>
                        <!--<a href="#" class="btn btn-link btn-link--secondary">
                          Contact us
                          <i class="icon ion-ios-arrow-round-forward"></i>
                        </a>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-spacer">
        <div class="container">
            <div class="row flex-column-reverse flex-sm-row align-items-center">
                <div class="col-sm-5 mr-auto">
                    <div class="feature-list-wrapper">
                        <div class="content-header">
                            <h2 class="content-title">TECHNOLOGY</h2>
                            <p>
                                We developed a web platform that sits at the core of all key business processes. Using new technologies we improve the way we get all merchandising information of your brand in the US market and then we put them in analytics dashboards.
                            </p>
                        </div>
                        <ul class="list list-circle">
                            <li>
                                <span>Easy and powerful web app</span>
                            </li>
                            <li>
                                <span>Responsive design</span>
                            </li>
                            <li>
                                <span>Merchandising Reports</span>
                            </li>
                            <li>
                                <span>24/7 Supports</span>
                            </li>
                        </ul>

                        <!--<a href="#" class="btn btn-link btn-link--secondary">
                          Explore all main characteristics
                          <i class="icon ion-ios-arrow-round-forward"></i>
                        </a>-->

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feature-list-image">
                        <img src="~/Content/landingpage/images/demo/featured-images/feature-image-3.png" class="img-fluid" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--
    =========================
    pricing TABLE
    ========================= -->
    <!--
    =========================
    CLIENTS LOGO
    ========================= -->
    <section id="services" class="section-spacer pricing-section bg-very__gray">
        <div class="container">
            <header class="section-header text-center">
                <h2 class="section-title">Our Services</h2>
                <p class="section-subtitle">We have a high range of services for you</p>
            </header>

            <div class="row">
                <div class="col-md-4 col-12">
                    <div class="feature-card">
                        <div class="u-icon u-icon__circle u-icon__lg bg-dimped__primary">
                            <i class="icon ion-ios-keypad"></i>
                        </div>
                        <div class="feature-card__body">
                            <h4 class="feature-title">Merchandising</h4>
                            <p>
                                Aesthetic jean shorts glossier lo-fi DIY thundercats fashion axe echo park copper mug
                            </p>
                            <a href="#" class="btn btn-link btn-link--secondary">
                                Learn more
                                <i class="icon ion-ios-arrow-forward"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="feature-card">
                        <div class="u-icon u-icon__circle u-icon__lg bg-dimped__purple">
                            <i class="icon ion-ios-apps"></i>
                        </div>
                        <div class="feature-card__body">
                            <h4 class="feature-title">Campain design</h4>
                            <p>Aesthetic jean shorts glossier lo-fi DIY thundercats fashion axe echo park copper mug</p>

                            <a href="#" class="btn btn-link btn-link--secondary">
                                Learn more
                                <i class="icon ion-ios-arrow-forward"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="feature-card m-0">
                        <div class="u-icon u-icon__circle u-icon__lg bg-dimped__cyan">
                            <i class="icon ion-ios-bug"></i>
                        </div>
                        <div class="feature-card__body">
                            <h4 class="feature-title">In store sampling</h4>
                            <p>Aesthetic jean shorts glossier lo-fi DIY thundercats fashion axe echo park copper mug</p>

                            <a href="#" class="btn btn-link btn-link--secondary">
                                Learn more
                                <i class="icon ion-ios-arrow-forward"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="feature-card">
                        <div class="u-icon u-icon__circle u-icon__lg bg-dimped__purple">
                            <i class="icon ion-ios-apps"></i>
                        </div>
                        <div class="feature-card__body">
                            <h4 class="feature-title">Brand activation</h4>
                            <p>Aesthetic jean shorts glossier lo-fi DIY thundercats fashion axe echo park copper mug</p>

                            <a href="#" class="btn btn-link btn-link--secondary">
                                Learn more
                                <i class="icon ion-ios-arrow-forward"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="feature-card m-0">
                        <div class="u-icon u-icon__circle u-icon__lg bg-dimped__cyan">
                            <i class="icon ion-ios-bug"></i>
                        </div>
                        <div class="feature-card__body">
                            <h4 class="feature-title">Market research</h4>
                            <p>Aesthetic jean shorts glossier lo-fi DIY thundercats fashion axe echo park copper mug</p>

                            <a href="#" class="btn btn-link btn-link--secondary">
                                Learn more
                                <i class="icon ion-ios-arrow-forward"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
    =========================
    testimonialS WITH SLIDER
    ========================= -->
    <section id="clients" class="section-spacer pb-0 section--clients">
        <div class="container">


            <header class="section-header text-center w-100">
                <h2 class="section-title">Trusted by most fast-forwarding brands</h2>
            </header>
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="client-logo__wrapper">
                        <a href="" class="client-logo">
                            <img src="~/Content/landingpage/images/demo/landing/customers/2CEBBA44.PNG" alt="Image">
                        </a>
                        <a href="" class="client-logo">
                            <img src="~/Content/landingpage/images/demo/landing/customers/Logo-mahler.jpg" alt="Image">
                        </a>
                        <a href="" class="client-logo">
                            <img src="~/Content/landingpage/images/demo/landing/customers/Logo-Goya.jpg" alt="Image">
                        </a>
                        <a href="" class="client-logo">
                            <img src="~/Content/landingpage/images/demo/landing/customers/Logo-Cremimex.jpg" alt="Image">
                        </a>
                        <a href="" class="client-logo">
                            <img src="~/Content/landingpage/images/demo/landing/customers/Logo-Klass.png" alt="Image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--
    =========================
    FAQs
    =========================
    <section id="faqs" class="section-spacer section-faq">
      <div class="container">
        <header class="section-header text-center">
          <h2 class="section-title">Frequently Asked Questions</h2>
        </header>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Life time support?</h5>
                <p>Hiss and stare at nothing then run suddenly away. Lick human with sandpaper tongue paw at your fat belly
                  be
                  a nyan cat, feel great about it, be annoying 24/7 poop rainbows in litter box all day.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Is there limit users for each plans?</h5>
                <p>Hiss and stare at nothing then run suddenly away. Lick human with sandpaper tongue paw at your fat belly
                  be
                  a nyan cat, feel great about it, be annoying 24/7 poop rainbows in litter box all day.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Can I cancel my monthly subscriptions?</h5>
                <p>Hiss and stare at nothing then run suddenly away. Lick human with sandpaper tongue paw at your fat belly
                  be
                  a nyan cat, feel great about it, be annoying 24/7 poop rainbows in litter box all day.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Do I have to pay for all users?</h5>
                <p>Hiss and stare at nothing then run suddenly away. Lick human with sandpaper tongue paw at your fat belly
                  be
                  a nyan cat, feel great about it, be annoying 24/7 poop rainbows in litter box all day.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-40 text-center">
          <a href="#" class="btn btn-primary btn-lg">Talk to our team</a>
        </div>
      </div>
    </section>-->
    <!--
    =========================
    CALL TO ACTION MODULE
    ========================= -->
    <section id="try" class="section-spacer text-left pb-0 pt-50">
        <div class="container">
            <div class="callout">
                <div class="callout-content">
                    <div class="Callout--Header">
                        <h2>Need help?</h2>
                        <p class="lead">If you require information about any of our services or products, please contact us via our Customer Service Center.</p>
                    </div>
                </div>
                <div class="callout-footer ml-lg-auto">
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter your email">
                            <button type="submit" class="btn btn-primary">Contact us</button>
                        </div>
                    </form>
                    <!--<p class="d-block text-sm">14 days free - no credit card required</p>-->
                </div>
            </div>
        </div>
    </section>
    <!--
    =========================
    FOOTER
    ========================= -->
    <footer class="section-spacer footer-section">
        <div class="container">
            <div class="row flex-column-reverse flex-sm-row flex-lg-row">
                <div class="col-md-4 col-12">
                    <div class="footer-widget first-of-footer-widget">

                        <p>Copyright &copy; 2019 Comercia Marketing. All Rights Reserved.</p>
                        <a href="" class="d-block mb-10">+1(615)928-9641</a>
                        <a href="">customercare@comerciamarketing.com</a>
                        <ul class="social-list__inline mt-10">
                            <li>
                                <a href="">
                                    <i class="icon ion-logo-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="icon ion-logo-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="icon ion-logo-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="icon ion-logo-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="icon ion-logo-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 col-sm-10">
                    <div class="row">
                        <div class="col-md-4 col-6">
                            <div class="footer-widget">
                                <h4 class="footer-widget__title">Company</h4>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="">Home</a>
                                    </li>
                                    <li>
                                        <a href="#overview">Overview</a>
                                    </li>
                                    <li>
                                        <a href="#testimonial">testimonials</a>
                                    </li>
                                    <li>
                                        <a href="#pricing">pricing</a>
                                    </li>
                                    <li>
                                        <a href="#faq">FAQs</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="footer-widget">
                                <h4 class="footer-widget__title">Developers</h4>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="">Migrations</a>
                                    </li>
                                    <li>
                                        <a href="#">API (Comming soon)</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-widget">
                                <h4 class="footer-widget__title">Support</h4>
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="">Help Center</a>
                                    </li>
                                    <li>
                                        <a href="#">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <a href="#">Terms and Service</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/Content/landingpage/js/vendors/jquery.min.js"></script>
    <script src="~/Content/landingpage/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="~/Content/landingpage/js/vendors/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/landingpage/js/vendors/jquery.easing.min.js"></script>
    <script src="~/Content/landingpage/js/vendors/swiper.min.js"></script>
    <script src="~/Content/landingpage/js/vendors/owl.carousel.min.js"></script>
    <script src="~/Content/landingpage/js/custom.js"></script>
</body>
</html>

