@{
    ViewBag.Title = "Comercia Marketing";
}

<!-- Slider -->
<br /><br /><br /><br /><br /><br /><br />
<div class="main_slider" style="background-image:url(../Content/images/MechandiserWeb.jpg)">
    <div class="container fill_height">
        <div class="row align-items-center fill_height">
            <div class="col">
                <div class="main_slider_content">
                    <h2>
                        Bienvenido
                    </h2><br /> <h5>  @ViewBag.nomusuarioSAP</h5>
                </div>
            </div>
        </div>
    </div>
</div>
@if(Session["tipousuario"].ToString() != "1"){


<div class="row">
    <div class="col-lg-12">
        <div class="benefit">
            <div class="container">
                <div class="row benefit_row">
                    <div class="col-lg-4 benefit_col">
                        <div class="benefit_item d-flex flex-row align-items-center">
                            <div class="benefit_icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                            <div class="benefit_content">
                                <h6>Tipo de membresía</h6>
                                <p>Membresia Básica</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 benefit_col">
                        <div class="benefit_item d-flex flex-row align-items-center">
                            <div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
                            <div class="benefit_content">
                                <h6>Última visita</h6>
                                <p>A las </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 benefit_col">
                        <div class="benefit_item d-flex flex-row align-items-center">
                            <div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                            <div class="benefit_content">
                                <h6>Tipo de actualización de datos</h6>
                                <p>Diaria</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}