
@{
    ViewBag.Title = "Comercia Marketing - Representative_stats";
}

<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="container">
                <div class="row profile-page">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="profile-header text-black">
                                    <div class="d-flex justify-content-around">
                                        <div class="profile-info d-flex align-items-center">

                                            <div class="wrapper pl-4">
                                                <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                                    <i class="mdi mdi-calendar"></i>&nbsp;
                                                    <span></span> <i class="fa fa-caret-down"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-body">
                                    <ul class="nav tab-switch" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="user-profile-info-tab" data-toggle="pill" href="#user-profile-info" role="tab" aria-controls="user-profile-info" aria-selected="true">Routes</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="user-profile-activity-tab" data-toggle="pill" href="#user-profile-activity" role="tab" aria-controls="user-profile-activity" aria-selected="false">Activity</a>
                                        </li>
                                    </ul>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="tab-content tab-body" id="profile-log-switch">
                                                <div class="tab-pane fade show active pr-3" id="user-profile-info" role="tabpanel" aria-labelledby="user-profile-info-tab">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-6 col-md-3 grid-margin stretch-card">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <div class="d-flex">
                                                                        <i class="mdi mdi-seat-recline-extra icon-lg"></i>
                                                                        <div class="d-flex flex-column ml-2">
                                                                            <span class="d-flex flex-column">
                                                                                <small class="mb-0"><div class="badge badge-warning"></div>ON HOLD</small>
                                                                                <p class="font-weight-bold">0</p>
                                                                            </span>
                                                                            <small>% total</small>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6 col-md-3 grid-margin stretch-card">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <div class="d-flex">
                                                                        <i class="mdi mdi-truck-delivery icon-lg"></i>
                                                                        <div class="d-flex flex-column ml-2">
                                                                            <span class="d-flex flex-column">
                                                                                <small class="mb-0"><div class="badge badge-success"></div>IN PROGRESS</small>
                                                                                <p class="font-weight-bold">0</p>
                                                                            </span>
                                                                            <small>% total</small>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6 col-md-3 grid-margin stretch-card">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <div class="d-flex">
                                                                        <i class="mdi mdi-clipboard-check icon-lg"></i>
                                                                        <div class="d-flex flex-column ml-2">
                                                                            <span class="d-flex flex-column">
                                                                                <small class="mb-0"><div class="badge badge-primary"></div>FINISHED</small>
                                                                                <p class="font-weight-bold">0</p>
                                                                            </span>
                                                                            <small>% total</small>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-sm-6 col-md-3 grid-margin stretch-card">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <div class="d-flex">
                                                                        <i class="mdi mdi-alert-octagon icon-lg"></i>
                                                                        <div class="d-flex flex-column ml-2">
                                                                            <span class="d-flex flex-column">
                                                                                <small class="mb-0"><div class="badge badge-danger"></div>CANCELED</small>
                                                                                <p class="font-weight-bold">0</p>
                                                                            </span>
                                                                            <small>0.0% total</small>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <hr />
                                                    <div class="row">
                                                        <div class="col-md-12 grid-margin">
                                                            <div class="card">
                                                                <div class="card-body">

                                                                    <div class="row">
                                                                        <div class="col-lg-12 table-responsive">
                                                                            <table id="order-listing" class="table table-striped">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>Route #</th>
                                                                                        <th>Date</th>
                                                                                        <th>Store</th>
                                                                                        <th>Representatives</th>
                                                                                        <th>Status</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>1</td>
                                                                                        <td> May 15, 2015</td>
                                                                                        <td>
                                                                                            CHAPINLANDIA<br />
                                                                                            <span class="text-primary">1209 MC CAWLEY RD, LOUISVILLE, KY 40219, US</span>
                                                                                        </td>
                                                                                        <td>Stanley Valenzuela, Aldo Quijano</td>

                                                                                        <td>
                                                                                            <label class="badge badge-warning">On hold</label>
                                                                                        </td>

                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>2</td>
                                                                                        <td> May 15, 2015</td>
                                                                                        <td>
                                                                                            CHAPINLANDIA<br />
                                                                                            <span class="text-primary">1209 MC CAWLEY RD, LOUISVILLE, KY 40219, US</span>
                                                                                        </td>
                                                                                        <td>Francisco Velasquez</td>

                                                                                        <td>
                                                                                            <label class="badge badge-danger">Canceled</label>
                                                                                        </td>
                                                                                    </tr>

                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="user-profile-activity" role="tabpanel" aria-labelledby="user-profile-activity-tab">
                                                    <div class="horizontal-timeline">
                                                        <section class="time-frame">
                                                            <h4 class="section-time-frame">Today</h4>
                                                            <div class="event">
                                                                <p class="event-text">We’re big on real names around here, so people know who’s who</p>
                                                                <div class="event-alert">You have added task #26 Successfully to the project “Agile CRM”</div>
                                                                <div class="event-info">New Dashboard Design - 9:24 PM</div>
                                                            </div>
                                                            <div class="event">
                                                                <p class="event-text">It is a fully responsive bootstrap admin template / bootstrap admin dashboard</p>
                                                                <div class="event-alert">You have added task #26 Successfully to the project “Agile CRM”</div>
                                                                <div class="event-info">New Dashboard Design - 9:24 PM</div>
                                                            </div>
                                                        </section>
                                                        <section class="time-frame">
                                                            <h4 class="section-time-frame">Yesterday</h4>
                                                            <div class="event">
                                                                <p class="event-text">Night fill together itself. Midst. Beginning. Behold living god had.</p>
                                                                <div class="event-alert">You have added task #26 Successfully to the project “Agile CRM”</div>
                                                                <div class="event-info">New Dashboard Design - 11:24 PM</div>
                                                            </div>
                                                            <div class="event">
                                                                <p class="event-text">Why waste time starting from scratch; try out our admin dashboard template</p>
                                                                <div class="event-info">New Dashboard Design - 11:30 PM</div>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.Partial("~/Views/Shared/Footer2.cshtml")
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
  
        <!-- partial -->
    </div>
    <!-- main-panel ends -->

    </div>