
@{
    Layout = null;
}

<!-- ############ Aside START-->
<div id="aside" class="page-sidenav no-shrink bg-light nav-dropdown fade" aria-hidden="true">
    <div class="sidenav h-100 bg-light modal-dialog">
        <!-- sidenav top -->
        <div class="navbar">
            <!-- brand -->
            <a href="javascript:void(0);" class="navbar-brand ">
                <img src="~/Content/images/LogoPNG-1.png" class="brand-logo" />
            </a>
            <!-- / brand -->
        </div>

       

    </div>
</div>
