
@{
    Layout = null;
}

<!-- ############ Footer START-->
<div id="footer" class="page-footer" style="margin-top:40px;">
    @if (Session["tipousuario"].ToString() == "8" && Session["tiporol"].ToString() == "9")
    {
        <div class="app-footer">
            <div class="app-footer__inner">
                <div class="app-footer-left">
                    <div class="footer-dots">
                        <div class="dropdown">
                            <a href="@Url.Action("Dashboard","SalesRepresentatives")" aria-haspopup="true" aria-expanded="false" class="dot-btn-wrapper">
                                <i class="dot-btn-icon lnr-home icon-gradient bg-mean-fruit"></i>


                            </a>

                        </div>
                        <div class="dots-separator"></div>
                        <div class="dropdown">
                            <a href="@Url.Action("Calendar_customers","Customers", new { id=ViewBag.id_customer})" class="dot-btn-wrapper" aria-haspopup="true" aria-expanded="false">
                                <i class="dot-btn-icon lnr-calendar-full icon-gradient bg-mean-fruit">
                                </i>
                            </a>

                        </div>
                        <div class="dots-separator"></div>
                        <div class="dropdown">
                            <a class="dot-btn-wrapper dd-chart-btn-2" aria-haspopup="true" aria-expanded="false">
                                <i class="dot-btn-icon lnr-list icon-gradient bg-mean-fruit"></i>

                            </a>

                        </div>
                        <div class="dots-separator"></div>
                        <div class="dropdown">
                            <a class="dot-btn-wrapper dd-chart-btn-2" aria-haspopup="true" aria-expanded="false">
                                <i class="dot-btn-icon lnr-cog icon-gradient bg-mean-fruit"></i>

                            </a>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    }

    <div class="d-flex p-3" id="copyrights">
        <span class="text-sm text-muted flex">&copy; Copyright. Comercia Marketing</span>


        <div class="text-sm text-muted">Version 3.0.1</div>
    </div>
</div>
<!-- ############ Footer END-->