﻿
@{
    Layout = null;
}

<script>


    $("#products_list").change(function () {

        $("#products_listSel").val($(this).val());
    });
    $("#ID_brand").change(function () {

        $("#ID_brandSel").val($(this).val());
    });


    function getBrandsonDemo() {
        var customerId = $("#ID_vendor").val();


        $.ajax
            ({
                url: '/FormsM/Getbrands',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    customerID: customerId,
                    idvisit: 0
                }),
                success: function (result) {

                    $("#ID_brand").html("");
                    $("#ID_brand").append($('<option></option>').val(0).html("Select a Brand"))
                    $.each($.parseJSON(result), function (i, brands) {
                        if (brands.isselected) {//si esta seleccionado
                            $("#ID_brand").append
                                ($('<option selected></option>').val(brands.FirmCode).html(brands.FirmName));


                        } else {
                            $("#ID_brand").append
                                ($('<option></option>').val(brands.FirmCode).html(brands.FirmName));
                        }


                    }

                    )
                    $("#ID_brand").select2();

                },
                error: function () {
                    alert("Whooaaa! Something went wrong..")
                },
            });



    }


    function getProducts() {
        var vendorId = $("#ID_vendor").val();
        var brands = $("#ID_brand").val();
        var brandid = brands.join();

        console.log(vendorId);
        console.log(brandid);

        $.ajax
            ({
                url: '/FormsM/GetproductsByBrandsDemos',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    vendorID: vendorId,
                    brandID: brandid
                }),
                success: function (result) {

                    $("#products_list").html("");
                    $.each($.parseJSON(result), function (i, product) {
                        $("#products_list").append
                            ($('<option></option>').val(product.ItemCode).html(product.ItemName))

                    }
                    )
                    $('#products_list').select2();
                },
                error: function () {
                    alert("Whooaaa! Something went wrong..")
                },
            });
    }
</script>
<script>


    function getCustomers() {
        var Idrep = $("#ID_rep").val();

        if (Idrep == "0" || Idrep == null) {

        } else {

            $.ajax
                ({
                    url: '/VisitsMs/GetCustomer_reps',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        ID_usuario: Idrep
                    }),
                    success: function (result) {

                        $("#ID_vendor").html("");
                        $("#ID_vendor").append($('<option></option>').val(0).html("Select a vendor"))
                        $.each($.parseJSON(result), function (i, brands) {
                            if (brands.isselected) {//si esta seleccionado
                                $("#ID_vendor").append
                                    ($('<option selected></option>').val(brands.ID).html(brands.Name));


                            } else {
                                $("#ID_vendor").append
                                    ($('<option></option>').val(brands.ID).html(brands.Name));
                            }


                        }

                        )
                        $("#loading").hide();

                    },
                    error: function () {
                        alert("Whooaaa! Something went wrong..")
                        $("#loading").hide();
                    },
                });
        }


    }



</script>


<script>
    window.onload = function () {

        table = $('#datatable2').DataTable({
            searching: true,
            dom: 'rtip',
             "bLengthChange": false,
        });

        // #myInput is a <input type="text"> element
        $('#inputsearch').on('keyup change', function () {
            table.search(this.value).draw();
        });


        //$('#chk_all').change(function () {
        //    if (this.checked) {
        //        //table.$("input.selectchk").prop("checked", true);
        //        $('input.selectchk', table.rows({ filter: 'applied' }).nodes()).prop("checked", true);
        //    } else {
        //        //table.$("input.selectchk").prop("checked", false);
        //        $('input.selectchk', table.rows({ filter: 'applied' }).nodes()).prop("checked", false);
        //    }

        //});

        $('.selectchk').change(function () {
            if (this.checked) {
                //table.$("input.selectchk").prop("checked", true);
                $('.selectchk').prop("checked", false);
                $(this).prop("checked", true);
            } else {
                //table.$("input.selectchk").prop("checked", false);
                $('.selectchk').prop("checked", false);
            }

        });

                    //EXPORT

        $("#btn-export").click(function () {
            $("#loading").show();
                var objects = [];
                var customer = '@ViewBag.id_customer';

                $.each(table.$("input.selectchk"), function () {

                    if ($(this).prop('checked')) {
                        objects.push({
                            id: $(this).attr('id'),
                            value: $(this).prop('checked'),
                            text: ""
                        });
                    }


                });

                if (objects.length > 0) {
                    $.ajax({
                        url: '/Customers/Export_Demos',
                        type: 'POST',
                        data: { 'id': customer, 'objects': objects },
                        cache: false,
                        global: false,
                        success: function (data) {
                         //get the file name for download
                            $("#loading").hide();
                            if (data != "") {
                                //use window.location.href for redirect to download action for download the file
                                window.location.href = "@Url.RouteUrl(new
                                { Controller = "Customers", Action = "Download"})/?file=" + data;
                            }

                        },
                        error: function (request, status, error) {
                            $("#loading").hide();
                            alert(request.responseText);
                        }
                    });
                } else {
                    $("#loading").hide();
                    $.toast({
                        heading: 'Warning',
                        text: 'Select at least one activity',
                        showHideTransition: 'slide',
                        icon: 'warning',
                        loader: false,
                        loaderBg: '#ff9900',
                        position: 'top-right'
                    });
                }

        });

                    //Print pdf
        $("#btn-print").click(function () {
            $("#loading").show();
                var objects = [];
                var customer = '@ViewBag.id_customer';

                            $.each(table.$("input.selectchk"), function () {

                    if ($(this).prop('checked')) {
                        objects.push({
                            id: $(this).attr('id'),
                            value: $(this).prop('checked'),
                            text: ""
                        });
                    }


                });

                if (objects.length > 0) {
                    $.ajax({
                        url: '/Customers/Print_Demos',
                        type: 'POST',
                        data: { 'id': customer, 'objects': objects },
                        cache: false,
                        global: false,
                        success: function (result) {
                            $("#loading").hide();
                                   if (result == "Success") {

                                       window.open('@Url.Action("ShowPDF", "Customers",new { activityname = "DEMO" })', '_blank');
        }

                        },
                        error: function (request) {
                            $("#loading").hide();



                        }
                    });
                } else {
                    $("#loading").hide();
                    $.toast({
                        heading: 'Warning',
                        text: 'Select at least one activity',
                        showHideTransition: 'slide',
                        icon: 'warning',
                        loader: false,
                        loaderBg: '#ff9900',
                        position: 'top-right'
                    });
                }

        });


    };
</script>

