﻿
@{
    Layout = null;
}

<script>

    var options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    };

    function success(pos) {
        var crd = pos.coords;
        $("#loading").show();

        var lat = crd.latitude;
        var lng = crd.longitude;

        var idvisita = "";
        idvisita = document.getElementById('ID_visita').value;
        var now = new Date();
        //console.log(now.toLocaleString("en-US", { hour12: true }));
        $.ajax({
            url: '/VisitsMs/check_in',
            type: 'POST',
            data: { 'ID_visit': idvisita, 'check_in': now.toLocaleString("en-US", { hour12: true }), 'lat': lat, 'lng': lng },
            cache: false,
            global: false,
            success: function (result) {

                if (result.Result == "Success") {
                    //showSuccessToast();

                    window.location.reload(true);
                } else {
                    //showWarning2Toast();
                }


            },
            error: function (request) {
                //showWarning2Toast();

            }
        });




    };

    function error(err) {
        console.warn('ERROR(' + err.code + '): ' + err.message);
        $("#loading").show();
        var idvisita = "";
        idvisita = document.getElementById('ID_visita').value;
        var now = new Date();

        $.ajax({
            url: '/VisitsMs/check_in',
            type: 'POST',
            data: { 'ID_visit': idvisita, 'check_in': now.toLocaleString("en-US", { hour12: true }), 'lat': "", 'lng': "" },
            cache: false,
            global: false,
            success: function (result) {

                if (result.Result == "Success") {
                    //showSuccessToast();

                    window.location.reload(true);
                } else {
                    //showWarning2Toast();
                }


            },
            error: function (request) {
                //showWarning2Toast();

            }
        });
    };

    function initGeolocation() {
        if (navigator && navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, error, options);
        } else {
            console.log('Geolocation is not supported');
        }
    }

    //CHECK IN
    function checkinVisit() {


        swal({
            title: "Check in",
            text: "Are you sure you want to check in to the store?",
            icon: "info",
            closeModal: false,
            buttons: true,
            buttons: ["Cancel", "Check in"]

        }).then((willDelete) => {
            if (willDelete) {
                initGeolocation();
            } else {

            }
        });
    }


    //CHECK OUT
    function checkoutVisit() {


        swal({
            title: "Check out",
            text: "Are you sure you want to check out to the store?",
            icon: "info",
            closeModal: false,
            buttons: true,
            dangerMode: true,
            buttons: ["Cancel", "Check out"]

        }).then((willDelete) => {
            if (willDelete) {
                initGeolocation2();
            } else {

            }
        });
    }


    var options2 = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    };

    function success2(pos) {
        var crd = pos.coords;
        $("#loading").show();

        var lat = crd.latitude;
        var lng = crd.longitude;

        var idvisita = "";
        idvisita = document.getElementById('ID_visita').value;
        var now = new Date();
        //console.log(now.toLocaleString("en-US", { hour12: true }));
        $.ajax({
            url: '/VisitsMs/check_out',
            type: 'POST',
            data: { 'ID_visit': idvisita, 'check_in': now.toLocaleString("en-US", { hour12: true }), 'lat': lat, 'lng': lng },
            cache: false,
            global: false,
            success: function (result) {

                if (result.Result == "Success") {
                    //showSuccessToast();

                    window.location.reload(true);
                    $("#loading").hide();
                } else {
                    $.toast({
                        heading: 'Warning',
                        text: result.Result,
                        loader: false,        // Change it to false to disable loader
                        showHideTransition: 'slide',
                        icon: 'warning',
                        loaderBg: '#ff9900',
                        hideAfter: 5000,
                        position: 'top-right'
                    });

                    $("#loading").hide();
                }


            },
            error: function (request) {
                //showWarning2Toast();

            }
        });




    };

    function error2(err) {
        console.warn('ERROR(' + err.code + '): ' + err.message);
        $("#loading").show();
        var idvisita = "";
        idvisita = document.getElementById('ID_visita').value;
        var now = new Date();

        $.ajax({
            url: '/VisitsMs/check_out',
            type: 'POST',
            data: { 'ID_visit': idvisita, 'check_in': now.toLocaleString("en-US", { hour12: true }), 'lat': "", 'lng': "" },
            cache: false,
            global: false,
            success: function (result) {

                if (result.Result == "Success") {
                    //showSuccessToast();

                    window.location.reload(true);
                    $("#loading").hide();
                } else {
                    $.toast({
                        heading: 'Warning',
                        text: result.Result,
                        loader: false,        // Change it to false to disable loader
                        showHideTransition: 'slide',
                        icon: 'warning',
                        loaderBg: '#ff9900',
                        hideAfter: 5000,
                        position: 'top-right'
                    });

                    $("#loading").hide();
                }


            },
            error: function (request) {
                //showWarning2Toast();

            }
        });
    };

    function initGeolocation2() {
        if (navigator && navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success2, error2, options2);
        } else {
            console.log('Geolocation is not supported');
        }
    }




    //CANCEL VISIT
    function cancelVisit() {


        swal({
            title: "Cancel visit",
            text: "Are you sure you want to cancel this visit?",
            icon: "info",
            closeModal: false,
            buttons: true,
            dangerMode: true,
            buttons: ["Cancel", "Confirm"]

        }).then((willDelete) => {
            if (willDelete) {
                initGeolocation3();
            } else {

            }
        });
    }


    var options3 = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    };

    function success3(pos) {
        var crd = pos.coords;


        var lat = crd.latitude;
        var lng = crd.longitude;

        var idvisita = "";
        idvisita = document.getElementById('ID_visita').value;
        var now = new Date();
        //console.log(now.toLocaleString("en-US", { hour12: true }));
        $.ajax({
            url: '/VisitsMs/cancel_visit',
            type: 'POST',
            data: { 'ID_visit': idvisita, 'check_in': now.toLocaleString("en-US", { hour12: true }), 'lat': lat, 'lng': lng },
            cache: false,
            global: false,
            success: function (result) {

                if (result.Result == "Success") {
                    //showSuccessToast();

                    window.location.reload(true);
                } else {
                    //showWarning2Toast();
                }


            },
            error: function (request) {
                //showWarning2Toast();

            }
        });




    };

    function error3(err) {
        console.warn('ERROR(' + err.code + '): ' + err.message);

        var idvisita = "";
        idvisita = document.getElementById('ID_visita').value;
        var now = new Date();

        $.ajax({
            url: '/VisitsMs/cancel_visit',
            type: 'POST',
            data: { 'ID_visit': idvisita, 'check_in': now.toLocaleString("en-US", { hour12: true }), 'lat': "", 'lng': "" },
            cache: false,
            global: false,
            success: function (result) {

                if (result.Result == "Success") {
                    //showSuccessToast();

                    window.location.reload(true);
                } else {
                    //showWarning2Toast();
                }


            },
            error: function (request) {
                //showWarning2Toast();

            }
        });
    };

    function initGeolocation3() {
        if (navigator && navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success2, error2, options2);
        } else {
            console.log('Geolocation is not supported');
        }
    }





</script>

@if (ViewBag.Title == "Comercia Marketing - Store_statsadmin")
{
    <script>
        document.getElementById("time").defaultValue = "2018-01-01T00:00:00";

        function BuildEditorHeader(array) {

            array.forEach(function (element, root) {
                var $th;
                var $tr = "<tr id='headerR'></tr>";
                $("#resultsRetail thead").append($tr);
                // <!--PARA SUBTITULOS EN ESTE CASO SERA EL HEADER
                if (element.id_resource == "24") {

                    $th = "<th>" + element.fdescription + "</th>";
                }

                $('#headerR').append($th);
            });
        };

        function BuildEditorRows(array) {

            array.forEach(function (element) {
                var $tr = "<tr></tr>";
                var $td;
                // <!--PARA SUBTITULOS EN ESTE CASO SERA EL HEADER
                if (element.id_resource == "3") { //Products

                    $td = "<td scope='col' style='text-align:left'><strong>" + element.fdescription + "</strong></td>";
                    $("#resultsRetail tbody").append($tr);
                    $("#resultsRetail tr:last").append($td);

                    if (element.children != null) {
                        BuildEditorRows(element.children);
                    }
                }

                if (element.id_resource == "16") { //Multiple_choice

                    $td = "<td data-label='" + element.fdescription + "'>";

                    if (element.fvalue != 0) {

                        $td += "<i class='mdi mdi-check icon-sm text-success'></i></td>";
                    } else {
                        $td += "&nbsp;</td>";
                    }


                    $('#resultsRetail tr:last').append($td);
                }
                if (element.id_resource == "18") { //Input_number

                    $td = "<td data-label='" + element.fdescription + "'>";

                    $td += "<label>" + element.fvalue + "</label>";
                    $td += "&nbsp;</td>";

                    $('#resultsRetail tr:last').append($td);
                }
                if (element.id_resource == "21") { //Currency

                    $td = "<td data-label='" + element.fdescription + "'>";

                    $td += "$ <label>" + element.fvalueDecimal + "</label>";
                    $td += "&nbsp;</td>";

                    $('#resultsRetail tr:last').append($td);
                }
                if (element.id_resource == "6") { ///Input_text

                    $td = "<td data-label='" + element.fdescription + "'>";

                    $td += "<label>" + element.fsource + "</label>";
                    $td += "&nbsp;</td>";

                    $('#resultsRetail tr:last').append($td);
                }
            });
        };

        (function ($) {
            'use strict';
            $('#infoRetailModal').on('show.bs.modal', function (event) {

                var button = $(event.relatedTarget);// Button that triggered the modal

                var IDform = $(event.relatedTarget).data("idform");// Extract info from data-* attributes
                var DesAct = $(event.relatedTarget).data("name");


                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this);
                //modal.find('.modal-title').text('Edit data: ' + recipient)

                $.ajax
                    ({
                        url: '/Home/Getformdata',
                        type: 'POST',
                        datatype: 'application/json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            id_activity: IDform
                        }),
                        success: function (result) {


                            $("#resultsRetail").find("tr").remove();
                            $("#descriptionUDM").text(DesAct);

                            BuildEditorHeader(result);
                            BuildEditorRows(result);

                        },
                        error: function () {
                            alert("Whooaaa! Something went wrong..")
                        },
                    });




            })
        })(jQuery);

    </script>

    <script>
        window.onload = function () {

            (function ($) {
                'use strict';
                $('#deleteModal').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget);// Button that triggered the modal

                    var IDAct = button.data("id");// Extract info from data-* attributes
                    var DesAct = button.data("description");


                    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                    var modal = $(this);
                    //modal.find('.modal-title').text('Edit data: ' + recipient)
                    modal.find('.modal-body input[name="ID_activityD"]').val(IDAct);
                    $("#descriptionD").text(DesAct);

                })
            })(jQuery);
            (function ($) {
                'use strict';
                $('#cancelModal').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget);// Button that triggered the modal

                    var IDAct = button.data("id");// Extract info from data-* attributes
                    var DesAct = button.data("description");


                    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                    var modal = $(this);
                    //modal.find('.modal-title').text('Edit data: ' + recipient)
                    modal.find('.modal-body input[name="ID_activityCa"]').val(IDAct);
                    $("#descriptionCa").text(DesAct);

                })
            })(jQuery);
            (function ($) {
                'use strict';
                $('#deleteRepModal').on('show.bs.modal', function (event) {


                    var button = $(event.relatedTarget);// Button that triggered the modal

                    var IDRep = button.data("id");// Extract info from data-* attributes
                    var DesAct = button.data("description");


                    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                    var modal = $(this);
                    //modal.find('.modal-title').text('Edit data: ' + recipient)
                    modal.find('.modal-body input[name="ID_repUD"]').val(IDRep);
                    $("#descriptionUD").text(DesAct);

                })
            })(jQuery);



            (function ($) {
                'use strict';
                $('#copyModal').on('show.bs.modal', function (event) {


                    var button = $(event.relatedTarget);// Button that triggered the modal

                    var IDRep = button.data("activity");// Extract info from data-* attributes
                    var DesAct = button.data("description");


                    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                    var modal = $(this);
                    //modal.find('.modal-title').text('Edit data: ' + recipient)
                    modal.find('.modal-body input[name="ID_activityCopy"]').val(IDRep);
                    $("#descriptionCopy").text(DesAct);

                })
            })(jQuery);
        }

    </script>
    if (ViewBag.estadovisita == 3)
    {
        if ((Session["tipousuario"].ToString() == "8" && Session["tiporol"].ToString() == "8") || Session["tipousuario"].ToString() == "1")
        { }
        else
        {
            <script>
                window.onload = function () {
                    $("#activitiesdiv").addClass("disable")
                        .click(function () {
                            return false;
                        });
                }
            </script>
        }

    }
}